<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #coronaForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="corona.id">{{l("EditCorona")}}</span>
                        <span *ngIf="!corona.id">{{l("CreateNewCorona")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="Corona_Name">{{l("Name")}} *</label>
									<input type="text" id="Corona_Name" class="form-control" [(ngModel)]="corona.name" name="Name"   minlength="1"  maxlength="25"  required/>
								</div>
					
								<div class="form-group">
									<label for="Corona_Symptom">{{l("Symptom")}}</label>
									<input type="text" id="Corona_Symptom" class="form-control" [(ngModel)]="corona.symptom" name="Symptom"   minlength="1"  maxlength="255" />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!coronaForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>